{% extends 'students/base.html' %}
{% block title %} Notices {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>All Notices.</h2>
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
             <div class="row clearfix">
                <div class="col-xs-12 col-sm-6">
                    <h2 style='display:inline;'>NOTICES</h2> 
                    &nbsp;
                    <a href='#' class="btn bg-cyan btn-sm waves-effect">ALL</a>
                    <a href='#' class="btn bg-red btn-sm waves-effect">IMPORTANT</a>
                    <a href='#' class="btn bg-teal btn-sm waves-effect">GENERAL</a>
                    <a href='#' class="btn bg-purple btn-sm waves-effect">FEES</a>
                    <a href='#' class="btn bg-orange btn-sm waves-effect">STARRED</a>
                    
                </div>
            </div>
            </div>
            <div class='body'>

                <div class='card' onclick='window.location.href="5"'>
                    <div class='header bg-teal'>
                    <h2>Notice Title</h2>
                    <small>Posted on: Dec 12, 2018 05:00 p.m.</small>

                    <ul class="header-dropdown m-r--5">
                        <li>                    
                            <a href="javascript:void(0);">
                                <i class="material-icons">star_border</i>
                            </a>
                        </li>
                    </ul>
                    </div>
                    <div class='body'>
                        Description <br>
                        goes here.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}