{% extends 'students/base.html' %}
{% block title %} Notice {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>Notice.</h2>
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                    <h2>NOTICE TITLE</h2> 
                    <small>Posted on: Dec 12, 2018 05:00 p.m.</small>

                     <ul class="header-dropdown m-r--5">
                        <li>                    
                            <a href="javascript:void(0);">
                                <i class="material-icons">star_border</i>
                            </a>
                        </li>
                    </ul>
            
            </div>
            <div class='body'>
            This is notice body. {% lorem 9 b random %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}