{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'favicon.ico'%}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css'%}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'plugins/node-waves/waves.css'%}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css'%}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{% static 'plugins/morrisjs/morris.css'%}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/themes/theme-teal.css'%}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css'%}" rel="stylesheet" />

    {% block headScripts %}
    <!-- No Header Script Loaded-->
    {% endblock headScripts %}
</head>

<body class="theme-teal">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-teal">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">ANKUR SCHOOL </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                   
                    <!-- #END# Notifications -->
         
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{% static 'images/user.png'%}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.staff.first_name}} {{user.staff.last_name}}</div>
                    <div class="email">{{user.email}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/staff/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/staff/notices/">
                            <i class="material-icons">event_note</i>
                            <span>Notices</span>
                        </a>
                    </li>
                    <li>
                        <a href="/staff/class-notes/">
                            <i class="material-icons">book</i>
                            <span>Class Notes</span>
                        </a>
                    </li>
                    <li class="header">SCHOOL</li>
                    <li>
                        <a href="/staff/sessions/">
                            <i class="material-icons">date_range</i>
                            <span>Sessions</span>
                        </a>
                    </li>
                    <li>
                        <a href="/staff/classes/">
                            <i class="material-icons">border_top</i>
                            <span>Classes</span>
                        </a>
                    </li>
                     <li>
                        <a href="/staff/subjects/">
                            <i class="material-icons">view_list</i>
                            <span>Subjects</span>
                        </a>
                    </li>
                    <li>
                        <a href="/staff/students/">
                            <i class="material-icons">account_circle</i>
                            <span>Students</span>
                        </a>
                    </li>
                    <li>
                        <a href="/staff/teachers/">
                            <i class="material-icons">perm_identity</i>
                            <span>Teachers</span>
                        </a>
                    </li>
                     <li>
                        <a href="/staff/staff-members/">
                            <i class="material-icons">account_box</i>
                            <span>Staff Members</span>
                        </a>
                    </li>
                    <li class="header">PROFILE</li>
                    <li>
                        <a href="#">
                            <i class="material-icons">face</i>
                            <span>View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">lock</i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout/">
                            <i class="material-icons">input</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 - 2020 <a href="javascript:void(0);">Ankur School</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        {% block content %}

         
        {% endblock content %}

        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js'%}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js'%}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js'%}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js'%}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'plugins/jquery-countto/jquery.countTo.js'%}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'plugins/raphael/raphael.min.js'%}"></script>
    <script src="{% static 'plugins/morrisjs/morris.js'%}"></script>

    <!-- ChartJs -->
    <script src="{% static 'plugins/chartjs/Chart.bundle.js'%}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'plugins/flot-charts/jquery.flot.js'%}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.resize.js'%}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.pie.js'%}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.categories.js'%}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.time.js'%}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js'%}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>
    <script src="{% static 'js/pages/index.js'%}"></script>

    <!-- Demo Js -->
    <script src="{% static 'js/demo.js'%}"></script>
    <!-- Tiny MCE-->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=jfueqhcjyzdhqvkebt9o5j36wrnudwyf429rn719lrwnzp7n"></script>

    {% block footerScripts %}
     <!-- No Script Loaded-->
    {% endblock footerScripts %}
</body>
</html>
