{% extends 'staff/base.html' %}
{% block title %} Classes | Ankur School  {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>CLASSES</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                   Class {{class.name}}
                </h2>

            </div>

            <div class="body">
                
                <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            SECTIONS
                        </h2> 
                        <div class='header-dropdown'>
                            <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD SECTION +</button>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>SECTION NAME</th>
                                        <th>CLASS TEACHER</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for section in class.sections %}
                                    <tr>
                                        <td>{{section.section}}</td>
                                        <td>{% if section.class_teacher %}
                                            
                                        <a href='#'>{{section.class_teacher.first_name}} {{section.class_teacher.last_name}}</a>
                                        {% else %}
                                        NONE
                                        {% endif %}
                                        </td>
                                        <td>
                                            <i class="material-icons" style="cursor:pointer;" onclick="window.location.href='/staff/sections/{{section.pk}}/';">info_outline</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                 
                                </tbody>
                            </table>
                        </div>
                </div>
                
            
                <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            SUBJECTS
                        </h2> 
                        <div class='header-dropdown'>
                            <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD SUBJECT +</button>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>SUBJECT CODE</th>
                                        <th>NAME</th>
                                        <th >CLASS NOTES TOPICS</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for subject in class.subjects %}
                                    <tr>
                                        <th scope="row">{{subject.subject_code}}</th>
                                        <td>{{subject.name}}</td>
                                        <td ><span class="badge bg-green">{{subject.topic_count}}</span> 
                                            <span onclick="window.location.href='/staff/class-notes/{{subject.pk}}/'" style="cursor:pointer;"  class="badge bg-blue">View Class Topics</span> </td>
                                        <td>
                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
                

                <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            ALL STUDENTS
                        </h2> 
                        <div class='header-dropdown'>
                            <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD STUDENT +</button>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>SECTION</th>
                                        <th>ROLL NO.</th>
                                        <th>NAME</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for class_student in class_students %}
                                        
                                    <tr>
                                        <td >{{class_student.class_w_section.section}}</td>
                                        <td>{{class_student.roll_number}}</td>
                                        <td><a href='#'>{{class_student.student.first_name}} {{class_student.student.last_name}}</a></td>
                                        <td>

                                            <i class="material-icons">info_outline</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
                

            </div>
        </div>
    </div>
</div>
{% endblock content %}