{% extends 'staff/base.html' %}
{% load static %}
{% block title %} Charanjit Singh | Ankur School {% endblock title %}
{% block headScripts %}
<style>
</style>
{% endblock headScripts %}
{% block content %}
<div class="block-header">
    <h2>STUDENTS</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Student Profile
                </h2>
                <div class='header-dropdown'>
                    <button type="button" class="btn bg-blue waves-effect" onclick='window.location.href="add";'>CHANGE PASSWORD</button>
                    <button type="button" class="btn bg-red waves-effect" onclick='window.location.href="add";'>DELETE</button>
                </div>
            </div>
            <div class="body">
                <form action="/staff/students/update/{{student.pk}}/" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class='row clearfix'>
                        <div class='col-sm-8'>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="admission_number">Admission No.</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="admission_number" name="admission_number" class="form-control" placeholder="Admission Number" value="{{student.admission_number}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-4 col-xs-6 form-control-label">
                                    <label for="full_name">YoA</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="year_of_admission" name="year_of_admission" class="form-control" placeholder="Year of Admission" value="{{student.year_of_admission}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="first_name">Full Name</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required value="{{student.first_name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" value="{{student.last_name}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="gender">Gender</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style='padding-top:4px;'>
                                            <input name="gender" type="radio" id="male" class="with-gap radio-col-blue" value="male" {% if student.gender == "male" %}
                                            checked 
                                            {% endif %}>
                                            <label for='male'>Male</label>
                                            <span>&nbsp;&nbsp;</span>
                                            <input name="gender" type="radio" id="female" value ="female" class="with-gap radio-col-pink"
                                             {% if student.gender == "female" %}
                                            checked 
                                            {% endif %}
                                            >
                                            <label for='female'>Female</label>
                                            <span>&nbsp;&nbsp;</span>
                                            <input name="gender" value="others" type="radio" id="others" class="with-gap radio-col-green"
                                             {% if student.gender == "others" %}
                                            checked 
                                            {% endif %}>
                                            <label for='others'>Others</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 form-control-label">
                                    <label for="blood_group">Blood Group</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 form-control-label">
                                    <div class='gender-selector'>
                                        <select name="blood_group">
                                            <option value="">--</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="fathers_first_name">Father's Name</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="fathers_first_name" name="fathers_first_name" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="fathers_last_name" name="fathers_last_name" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="mothers_first_name">Mother's Name</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="mothers_first_name" name="mothers_first_name" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="mothers_last_name" name="mothers_last_name" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                                    <label for="gaurdians_first_name">Gaurdian's Name</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="gaurdians_first_name" name="gaurdians_first_name" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="gaurdians_last_name" name="gaurdians_last_name" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="adhaar_number">Adhaar Number</label>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="adhaar" name="adhaar_number" class="form-control" placeholder="____ - ____ - ____ - ____">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address">Email Address</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="email" id="email_address" name="email_address" class="form-control" placeholder="Contact Email Address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="contact_number">Contact Number</label>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="contact_number" name="contact_number" class="form-control" placeholder="Contact Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="emergency_contact_number">Emergency Contact Number</label>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="emergency_contact_number" name="emergency_contact_number" class="form-control" placeholder="Emergency Contact Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='thumbnail col-sm-4' style=' height:300px;'>
                            <img src="{% static 'images/avatar.png'%}" style='height:290px;'>
                    </div>
                        </div>
                        <div class='row clearfix'>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="address">Address</label>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea name="address" rows="4" class="form-control no-resize auto-growth" placeholder="House No,
Street Address,
City, P.O.
State. PIN"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="medical_problems">Medical Problems</label>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-5 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="3" name="medical_problems" class="form-control no-resize auto-growth" placeholder="Medical Problems (if any)"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class='row clearfix'>
                            <div class='col-lg-2 col-md-2'>
                                <label style='float:right;'>Enrollments</label>
                            </div>
                            <div class='col-md-9'>
                                <div class='table-responsive'>
                                    <table class="table table-striped">
                                        <thead class='bg-teal'>
                                            <tr>
                                                <th>SESSION</th>
                                                <th>CLASS</th>
                                                <th>SECTION</th>
                                                <th>ROLL NO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2017-2018</td>
                                                <td>7th</td>
                                                <td>B</td>
                                                <td>21</td>
                                            </tr>
                                            <tr>
                                                <td>2016-2017</td>
                                                <td>6th</td>
                                                <td>B</td>
                                                <td>21</td>
                                            </tr>
                                            <tr>
                                                <td>2015-2016</td>
                                                <td>5th</td>
                                                <td>B</td>
                                                <td>21</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                                <div class="col-md-12 ">
                                    <button type="submit" class="btn btn-success" style="width:100%;">SAVE</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block footerScripts %}
    <script src="{% static 'plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#adhaar').inputmask('9999 - 9999 - 9999 - 9999', { placeholder: '____ - ____ - ____ - ____' });
        $('.gender-selector').find('.bootstrap-select').css({ 'width': '80px' })
    })
    </script>
    {% endblock footerScripts %}