{% extends 'staff/base.html' %}
{% block title %} Section | Ankur School  {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>SECTION</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Class {{className}} ( Section {{class_w_section.section}})
                </h2>
                <div class='header-dropdown'>
                </div>
            </div>

            <div class="body">
            
               <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            Subjects
                        </h2> 
                        <div class='header-dropdown'>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>SUBJECT CODE</th>
                                        <th>NAME</th>
                                        <th>TEACHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in subjects %}
                                        
                                    <tr>
                                        <th scope="row">{{subject.subject_code}}</th>
                                        <td>{{subject.name}}</td>
                                        <td>
                                            <a href='#'>Prabjakar</a>
                                            <i class="material-icons" style='font-size:15px;'>create</i>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                               
                                </tbody>
                            </table>
                    </div>       
                </div>

                <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            CLASS STUDENTS
                        </h2> 
                        <div class='header-dropdown'>
                            <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD STUDENT +</button>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>ROLL NO.</th>
                                        <th>NAME</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for class_student in class_students %}
                                        
                                    <tr>
                                        <td>{{class_student.roll_number}}</td>
                                        <td><a href='#'>{{class_student.student.first_name}} {{class_student.student.last_name}}</a></td>
                                        <td>

                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   
                                </tbody>
                            </table>
                        </div>
                </div>

               
                

            </div>
        </div>
    </div>
</div>
{% endblock content %}