{% extends 'staff/base.html' %}
{% load static %}
{% block title %} Notice | Ankur School  {% endblock title %}
{% block headScripts %}
    <link href={% static "plugins/sweetalert/sweetalert.css"%} rel="stylesheet" />

{% endblock headScripts %}
{% block content %}

<div class="block-header">

<ol class="breadcrumb ">
    <li><a href="/staff/"><i class="material-icons">home</i> Home</a></li>
    <li><a href="/staff/notices/"><i class="material-icons">event_note</i> Notices</a></li>
    <li><a href="#">{{notice.title}}</a></li>
</ol>

</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-{% if notice.type_notice == "important" %}red{% elif notice.type_notice == "fees" %}purple{% elif notice.type_notice == "general" %}teal{% endif %}">
                <h2>
                   {{notice.title}}
                </h2>

                <div class='header-dropdown'>
                  <button type="button" class="btn btn-success waves-effect">View Users </button>
                  <button type="button" class="btn btn-info waves-effect" onclick="window.location.href='edit';">Edit </button>
                  <button type="button" class="btn btn-default waves-effect" onclick="showConfirmMessage();" >Delete </button>
                </div>

            </div>

            <div class="body">
            {% autoescape off %}
                     {{ notice.body }}
            {% endautoescape %}
                
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footerScripts %}

<script src="{% static 'plugins/sweetalert/sweetalert.min.js'%}"></script>

<script>
function showConfirmMessage() {
    swal({
        title: "Are you sure?",
        text: "You will not be able to recover this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
    }, function () {

        swal("Deleted!", "Notice has been deleted.", "success");
    });
}
</script>
{% endblock footerScripts %}