{% extends "staff/base.html" %}
{% load static %}

{% block title %} Class Notes | Ankur School  {% endblock title %}


{% block content %}

<div class="block-header">
    <h2>CLASS NOTES</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    {{subject.subject_code}} {{subject.name}} Topics
                </h2>
                <div class='header-dropdown'>
                  <button type="button" class="btn btn-success waves-effect" onclick='window.location.href="add";'>CREATE +</button>
                </div>
            </div>

            <div class="body">
  			<table class="table table-bordered table-striped table-hover dataTable  ">
                    <thead>
                        <tr>
                            <th>Topic ID.</th>
                            <th>Topic Name</th>
                            <th>Updated on</th>
                            <th>Updated by</th>
                            <th>Notes</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>

			            {% for topic in topics %}
			              			                                            
                        <tr>
                            <td>TP_{{topic.pk}}</td>
                            <td><span class="badge bg-blue">{{topic.name}}</span></td>
                            <td><span class="badge bg-green">{{topic.updated_on}}</span></td>
                            <td>{{topic.updated_by.staff.first_name}} {{topic.updated_by.staff.last_name}}</td>
                            <td><span class="badge bg-pink">{{topic.notes_count}}</span></td>
                            <td>
                                <button type="button" class="btn bg-blue waves-effect" onclick='window.location.href="/staff/class-notes/showtopic/{{topic.pk}}/";'>Show Details</button>
                            </td>
                        </tr>
                       
			            {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerScripts %}


    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>

<script>
$(function () {
  

    //Exportable table
    $('.dataTable').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'csv', 'pdf', 'print'
        ]
    });
});
</script>
    
{% endblock %}
