{% extends "staff/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Staff Member | Ankur School  {% endblock title %}
{% block content %}
<div class="block-header">
<ol class="breadcrumb ">
    <li><a href="/staff/"><i class="material-icons">home</i> Home</a></li>
    <li><a href="/staff/staff-members/"><i class="material-icons">event_note</i> Staff Members</a></li>
    <li><a href="#"> <i class="material-icons">edit</i> <b>{{notice.title}}</b></a></li>
</ol></div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Edit Staff
                </h2>
                <div class='header-dropdown'>
                  </div>
            </div>

            <div class="body">
            	<form method="post"  enctype="multipart/form-data" novalidate >
				  {% csrf_token %}

				    {% for hidden_field in form.hidden_fields %}
				    {{ hidden_field }}
				  {% endfor %}

				    {% if form.non_field_errors %}
					    <div class="alert alert-danger" role="alert">
					      {% for error in form.non_field_errors %}
					        {{ error }}
					      {% endfor %}
					    </div>
					  {% endif %}

				 {% for field in form.visible_fields %}
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 form-control-label">
                            <label >{{ field.label_tag }}</label>
                             {% if field.errors %}
					            <ul>
					              {% for error in field.errors %}
					                <li>{{ error }}</li>
					              {% endfor %}
					            </ul>
					          {% endif %}
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">

								      {% if form.is_bound %}
								        {% if field.errors %}
								          {% render_field field placeholder=field.name class="form-control is-invalid" %}
								          {% for error in field.errors %}
								            <div class="invalid-feedback">
								              {{ error }}
								            </div>
								          {% endfor %}
								        {% else %}
								          {% render_field field placeholder=field.name class="form-control is-valid" %}
								        {% endif %}
								      {% else %}
								        {% render_field field placeholder=field.name class="form-control" %}
								      {% endif %}

								      {% if field.help_text %}
								        <small class="form-text text-muted">{{ field.help_text }}</small>
								      {% endif %}
                                      </div>
                            </div>
                        </div>
                    </div>
                    

   
   					 {% endfor %}

				  <button class="btn btn-success" type="submit">Submit</button>
				</form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footerScripts %}
<script type="text/javascript">
$(document).ready(function(){
	var clear_image = $('input[name="profile_pic-clear"]');
	if(clear_image.length)
	{
		c = clear_image.parent().find('a');
		c.hide();
		c = $(c).attr("href") 
		clear_image.parent().prepend('<img class="img img-responsive" src="' + c + '">')
	}



});
</script>
	
{% endblock footerScripts %}