{% extends 'staff/base.html' %}
{% load static %}
{% block title %} Edit Notice | Ankur School  {% endblock title %}

{% block headScripts %}
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css'%}" rel="stylesheet" />

{% endblock headScripts %}
{% block content %}
<div class="block-header">
<ol class="breadcrumb ">
    <li><a href="/staff/"><i class="material-icons">home</i> Home</a></li>
    <li><a href="/staff/notices/"><i class="material-icons">event_note</i> Notices</a></li>
    <li><a href="#"> <i class="material-icons">edit</i> <b>{{notice.title}}</b></a></li>
</ol></div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Edit Notice
                </h2>
                <div class='header-dropdown'>
                  </div>
            </div>

            <div class="body">
            {% if message %}
                <div class="alert alert-{{msgType}}">
                    {{message}}
                </div>
            {% endif %}
            <form method="POST">
            <input type="hidden" name="action" value="edit">
            {% csrf_token %}
            <div class='row clearfix'>
                <div class="col-sm-12">
                    <b>Title:</b>
                    <div class="input-group">
                        <div class="form-line">
                            <input type="text" name='title' value="{{notice.title}}" class="form-control" placeholder="Notice Title" required>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12" disabled>
                    <b>Users:</b>
                    <p> You can't change users now </p>
                </div>
                 
                <div class='col-sm-6'>
                    <b>Type: </b> <br>
                    <div style="padding-top: 12px;">
                        <input name="type" type="radio" id="general" value="general" class="radio-col-teal" {% if notice.type_notice == "general" %}checked{% endif %}>
                        <label for="general">GENERAL</label>

                        <input name="type" type="radio" id="important" value="important" class="radio-col-red"  {% if notice.type_notice == "important" %}checked{% endif %}>
                        <label for="important">IMPORTANT</label>

                        <input name="type" type="radio" id="fees" value="fees" class="radio-col-purple"   {% if notice.type_notice == "fees" %}checked{% endif %} >
                        <label for="fees">FEES</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <b>Publish on:</b>
                       <div class="input-group">
                            <div class="form-line">
                                <input required type="text" name='time' class="datetimepicker form-control" placeholder="Please choose date & time..." value="{{notice.publish_on}}">
                            </div>
                        </div> 
                </div>
                <div class='col-sm-12'>
                    <b>Content: </b>
                    <textarea id='content' required name='content'>
                        {{notice.body}}
                    </textarea>
                </div>
                 <div class='col-sm-6'>
                    <button type="submit" class="btn bg-teal btn-block btn-lg waves-effect">Update !</button>                    
                </div>
            </div>
            
            </form>
            
                
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customFiltersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="customFiltersModalLabel">Custom Filters</h4>
            </div>
            <div class="modal-body">
                
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Admission No.</th>
                            <th>Full Name</th>
                            <th>Father's Name</th>
                            <th>Contact Number</th>
                            <th>Current Class</th>
                            <th>Section</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>ANK0001</td>
                            <td>Charanjit Singh</td>
                            <td>Jasvir Singh</td>
                            <td>9876543210</td>
                            <td>5th</td>
                            <td>B</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">DONE</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block footerScripts %}
<script src="{% static 'plugins/momentjs/moment.js'%}"></script>
<script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js'%}"></script>


<script>
var selectedPKs=[];

$(document).ready(function(){
    console.log('Ready');
 $('.datetimepicker').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD HH:MM',
        clearButton: true,
        weekStart: 1
    });
})
tinymce.init({
selector: 'textarea',  // change this value according to your HTML
plugins : 'advlist autolink link image lists charmap print preview code imagetools media table',
min_height: 400

});

</script>
{% endblock footerScripts %}