{% extends 'staff/base.html' %}
{% block title %} Class Notes | Ankur School  {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>SUBJECTS</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Choose Subject
                </h2>
                <div class='header-dropdown'>
                </div>
            </div>

            <div class="body">
                {% for class in classes %}
                    
               <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            Class {{class.name}}
                        </h2> 
                        <div class='header-dropdown'>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>SUBJECT CODE</th>
                                        <th>NAME</th>
                                        <th>TOPICS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in class.subject_set.all %}
                                        
                                    <tr style="cursor:pointer;" onclick='window.location.href="{{subject.pk}}";'>
                                        <th scope="row">{{subject.subject_code}}</th>
                                        <td>{{subject.name}}</td>
                                        <td><span class="badge bg-green">{{subject.topic_count}}</span></td>
                                      
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>

               
                {% endfor %}
                

            </div>
        </div>
    </div>
</div>
{% endblock content %}