{% extends 'staff/base.html' %}
{% load static %}
{% block title %} NOTICES | Ankur School  {% endblock title %}

{% block content %}
<div class="block-header">

<ol class="breadcrumb ">
    <li><a href="/staff/"><i class="material-icons">home</i> Home</a></li>
    <li><a href="/staff/notices/"><i class="material-icons">event_note</i> Notices</a></li>
</ol>

</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Notices
                </h2>
                <div class='header-dropdown'>
                  <button type="button" class="btn btn-success waves-effect" onclick='window.location.href="add";'>CREATE +</button>
                </div>
            </div>

            <div class="body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan " onclick="window.location.href='?type=all'">
                        <div class="icon">
                            <i class="material-icons">reorder</i>
                        </div>
                        <div class="content">
                            <div class="text">ALL</div>
                            <div class="number">{{allNoticesCount}}</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-teal " onclick="window.location.href='?type=general'">
                        <div class="icon">
                            <i class="material-icons">toc</i>
                        </div>
                        <div class="content">
                            <div class="text">GENERAL</div>
                            <div class="number">{{generalNoticesCount}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-red " onclick="window.location.href='?type=important'">
                        <div class="icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <div class="content">
                            <div class="text">IMPORTANT</div>
                            <div class="number">{{impNoticesCount}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-purple " onclick="window.location.href='?type=fees'">
                        <div class="icon">
                            <i class="material-icons">payment</i>
                        </div>
                        <div class="content">
                            <div class="text">FEES</div>
                            <div class="number">{{feesNoticesCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% for notice in notices %}
                <div class='card' onclick='window.location.href="{{notice.id}}"'>
                        <div class='header bg-{% if notice.type_notice == "important" %}red{% elif notice.type_notice == "fees" %}purple{% elif notice.type_notice == "general" %}teal{% endif %}'>
                        <h2>{{notice.title}}</h2>
                        <small>Posted on: {{notice.publish_on}}.</small>
                        </div>
                        <div class='body'>
                            {{notice.description_slug}}
                        </div>
                    </div> 
            {% endfor %}
                
                <nav>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:void(0);" class="waves-effect"><span aria-hidden="true">←</span>Newer</a>
                        </li>
                        <li class="next">
                            <a href="javascript:void(0);" class="waves-effect">Older <span aria-hidden="true">→</span></a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}

