{% extends 'staff/base.html' %}
{% load static %}
{% block title %} Students | Ankur School  {% endblock title %}

{% block headScripts %}
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css'%}" rel="stylesheet">

{% endblock headScripts %}
{% block content %}

<div class="block-header">
    <h2>STUDENTS</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Students
                </h2>
                <div class='header-dropdown'>
                    <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>IMPORT CSV +</button>
                    <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD STUDENT +</button>
                </div>
            </div>

            <div class="body">

                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Addmission No.</th>
                            <th>Full Name</th>
                            <th>Father's Name</th>
                            <th>Contact Number</th>
                            <th>Current Class</th>
                            <th>Section</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            
                        <tr>
                            <td>{{student.admission_number}}</td>
                            <td>{{student.first_name}} {{student.last_name}}</td>
                            <td>{{student.fathers_first_name}} {{student.fathers_last_name}}</td>
                            <td>{{student.contact_number}}</td>
                            <td>{{student.current_class}}</td>
                            <td>{{student.current_section}}</td>
                            <td>
                                <button type="button" class="btn bg-blue waves-effect" onclick='window.location.href="{{student.pk}}";'> Profile</button>
                            </td>
                        </tr>
                       
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footerScripts %}


    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>
    
<script>
$(function () {
  

    //Exportable table
    $('.js-exportable').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>

{% endblock footerScripts %}