{% extends 'staff/base.html' %}
{% block title %} Sessions | Ankur School  {% endblock title %}

{% block content %}
<div class="block-header">
    <h2>SESSIONS</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Sessions
                </h2>
                <div class='header-dropdown'>
                  <button type="button" class="btn btn-success waves-effect" data-toggle="modal" data-action="create" data-target="#create-edit-modal">CREATE +</button>
                </div>
            </div>

            <div class="body">
                {% for session in sessions %}
                
                <div class="card flex-33" >
                    <div class="header {% if session.is_current %}bg-teal{% endif %}">
                        <h2>
                            Session {{session.period}}
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#create-edit-modal" data-pk="{{session.pk}}" data-period='{{session.period}}' data-is_current="{{session.is_current}}" data-toggle="modal" data-action="edit" data-target="#create-edit-modal" class=" waves-effect waves-block">Edit</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Delete</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Mark as Current</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            <li class="list-group-item">STUDENTS: <span class="badge bg-pink">14</span></li>
                            <li class="list-group-item">NOTICES: <span class="badge bg-cyan">99</span></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
               

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="create-edit-modal-label">Add New Session to system</h4>
            </div>
            <div class="modal-body">
                            <div class="form-group">
                                <div class="form-line">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="period" placeholder="Session Period eg: 2020-2021">
                                    <input type="hidden" class="form-control" name="pk" placeholder="Session Period eg: 2020-2021">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="is_current" id="is_current" class="filled-in" >
                                <label for="is_current">Is Current?</label>                            
                            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block footerScripts %}
<script>
$(document).ready(function(){

$('#create-edit-modal').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var title = "ERRR";

    var action = $(e.relatedTarget).data('action');
    if(action=="create")
    {
        title = "Add New Session to system";
          $(e.currentTarget).find('input[name="period"]').val("");
          $(e.currentTarget).find('input[name="pk"]').val("");
          $('#is_current').attr('checked', false) ;
    
    }
    else if(action == "edit"){
        title = "Edit Session";
         $(e.currentTarget).find('input[name="period"]').val($(e.relatedTarget).data('period'));
         $(e.currentTarget).find('input[name="pk"]').val($(e.relatedTarget).data('pk'));
         if($(e.relatedTarget).data('is_current')=="True")
         {
             console.log('Here')
             $('#is_current').attr('checked', true) ;
         }

    }
    $(e.currentTarget).find('.modal-title').html(title);
});

});
</script>
{% endblock footerScripts %}