{% extends 'staff/base.html' %}
{% block title %} Subjects | Ankur School  {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>SUBJECTS</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Subjects
                </h2>
                <div class='header-dropdown'>
                </div>
            </div>

            <div class="body">
            
               <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            5th
                        </h2> 
                        <div class='header-dropdown'>
                            <button type="button" class="btn btn-default waves-effect" onclick='window.location.href="add";'>ADD SUBJECT +</button>
                        </div>
                    </div>
                   <div class="body table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>SUBJECT CODE</th>
                                        <th>NAME</th>
                                        <th>TEACHER</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">ANK5011</th>
                                        <td>PHYSICS</td>
                                        <td><a href='#'>Prabjakar</a></td>
                                        <td>
                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                     <tr>
                                        <th scope="row">ANK5021</th>
                                        <td>CHEMISTRY</td>
                                        <td><a href='#'>Charanjit</a></td>
                                        <td>
                                            <i class="material-icons">create</i>
                                            <span>&nbsp;</span>
                                            <i class="material-icons">clear</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>

               
                

            </div>
        </div>
    </div>
</div>
{% endblock content %}