{% extends 'staff/base.html' %}
{% block title %} Classes | Ankur School  {% endblock title %}

{% block content %}

<div class="block-header">
    <h2>CLASSES</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manage Classes
                </h2>
                <div class='header-dropdown'>
                  <button type="button" class="btn btn-success waves-effect" onclick='window.location.href="add";'>CREATE +</button>
                </div>
            </div>

            <div class="body">
            {% for class in classes %}
               <div class="card flex-33" onclick="window.location.href='{{class.id}}';">
                    <div class="header bg-blue-grey">
                        <h2>
                            {{class.name}}
                        </h2> 
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            <li class="list-group-item">Sections <span class="badge bg-pink">{{class.section_count}}</span></li>
                            <li class="list-group-item">Subjects <span class="badge bg-cyan">{{class.subject_count}}</span></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

                

            </div>
        </div>
    </div>
</div>
{% endblock content %}